.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")
.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          =link_to 'Popular PROTO', "#"
        %li{role: "presentation"}
          = link_to 'Newest PROTO'
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags

.container.proto-list
  .row
    -@prototypes.each do |prototype|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          = link_to '/users/#{prototype.user,id}/prototypes/#{prototype.id}' do
            = image_tag'#{prototype.prototype_image[role:1]}'
            .caption
              %h3
                = prototype.title
              .proto-meta
                .proto-user
                  =link_to prototype.user.username, user_path(prototype.user)
                .proto-posted
                  Apr 26
              %ul.proto-tag-list.list-inline
                %li
                  =link_to 'iPad', "#", class: "btn btn-default"
                %li
                  =link_to 'wirefr', "#", class: "btn btn-default"

.text-center
  %ul.pagination
    %li.disabled
      = link_to "#", aria: { label: "Previous"} do
        %span{aria: { hidden: "true"}} «
    %li.active
      = link_to "#" do
        %span.sr-only (current)
    %li
      = link_to '2', "#"
    %li
      = link_to '3', "#"
    %li
      = link_to '4', "#"
    %li
      = link_to '5', "#"
    %li
      = link_to "#", aria: { label: "Next" } do
        %span{aria: { hidden: true }} »