.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")
.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          =link_to 'Popular PROTO', "#"
        %li{role: "presentation"}
          = link_to 'Newest PROTO'
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags

= render 'prototype'
.text-center
  %ul.pagination
    %li.disabled
      = link_to "#", aria: { label: "Previous"} do
        %span{aria: { hidden: "true"}} «
    %li.active
      = link_to "#" do
        %span.sr-only (current)
    %li
      = link_to '2', "#"
    %li
      = link_to '3', "#"
    %li
      = link_to '4', "#"
    %li
      = link_to '5', "#"
    %li
      = link_to "#", aria: { label: "Next" } do
        %span{aria: { hidden: true }} »