.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          =link_to user_path(@prototype.user) do
            =image_tag @prototype.user.avatar, class:"media-object", alt:"64x64", data: {holder:{rendered: true}}, data: {src: "holder.js/64x64"}, size: "64x64"
        .media-body
          %h4#top-aligned-media.media-heading
            =@prototype.title
          .proto-user
            =link_to "by #{@prototype.user.username}"
            %span.degree
              =@prototype.user.works


    .col-md-6.text-right#js-like-buttons
      = render partial: "prototypes/likes/like", locals: { prototype: @prototype, like: @like }

  .row
    .col-md-9
      = image_tag @prototype.main_image, class: 'img-responsive'
    .col-md-3
      %ul.proto-sub-list.list-group
        -@prototype.prototype_images.sub.each do |sub_image|
          %li.list-group-item
            = image_tag sub_image.image, class: 'img-responsive'
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        =@prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        =@prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
          /後ほどlink_toに変更します
  -if @prototype.user == current_user
    .btn.btn-primary.navbar-btn
      =link_to "編集", edit_prototype_path(@prototype)
    .btn.btn-primary.navbar-btn
      =link_to "破壊", "/prototypes/#{@prototype.id}", method: :delete

  .row
    .proto-comments
      %h4.col-md-12
        Comments
        %span.num
          (#{@prototype.comments_counter})
        .col-md-8#js-comment
          = render partial: "prototypes/comments/comment", collection: @comments
    -if user_signed_in?
      = form_for [@prototype,@comment], remote: true do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :prototype_id, value: @prototype.id
        %h4 Write a comment
        .row
          .form-group.col-md-10
            =f.text_area :review, palaceholder: "Your comments", class: "form-control", rows:"3"
          .form-group.col-md-2
            =f.submit "Comment", class:'button btn btn-primary'
