.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to "#" do
          = image_tag @user.avatar, class:"media-object", alt:"64x64", data: {holder:{rendered: true}}, data: {src: "holder.js/64x64"}, size: "64x64"
      .media-body
        %h4#top-aligned-media.media-heading
          =@user.username
          %span.label.label-default.project-number
            = @user.prototypes.length
            %i Projects
        .proto-user
          %span.degree
            Group of #{@user.member}
        .row
          .col-md-6
            %h4 Profile
            %p
              = @user.profile
          .col-md-6
            %h4 Works
            %p
              = @user.works
.container.proto-list
  .row
    = render partial: 'prototypes/prototype', collection: @prototypes

.text-center
  %ul.pagination
    %li.disabled
      = paginate(@prototypes)