- if user_signed_in?
  - if prototype.like_user(current_user.id)
    = button_to prototype_like_path(prototype,like), method: :delete, class: "btn btn-default",id: "like-button", remote: true do
      = image_tag("original.jpeg")
      LIKE
      %span.num
        = "#{prototype.likes.count}"
  - else
    = button_to prototype_likes_path(prototype), method: :post, class: "btn btn-default", id: "like-button", remote: true do
      = image_tag("icon_heart.svg")
      LIKE
      %span.num
        = "#{prototype.likes.count}"
- else
  #button.btn.btn-default
    = image_tag("icon_heart.svg")
    LIKE
    %span.num
      = prototype.likes_counter
